<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorBible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AE001411CAA47A10058B744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE001581CAA47A10058B744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE001631CAA47A10058B744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
